.teaser-grid-container{}
.teaser-grid-container.has-background{background:#F5F5F5;}


.teaser-grid-container div.center.blog{padding-bottom:70px;padding-top:70px;}
.teaser-grid-container .gridheadline{margin-bottom:55px;}
.teaser-grid-container .gridheadline h2{font-size:30px !important;line-height:40px;margin:-5px 0 15px 0 !important;text-align:center !important;}

.teaser-grid-container .blog-list{display:block;}
.teaser-grid-container .blog-list:after{content:'';display:table;clear:both;}

.teaser-grid-container article{display:block;float:left;clear:none;text-align:inherit;width:31.066666666666663%;margin-left:0%;margin-right:3.4%;}
.teaser-grid-container article:nth-child(3n){float:right;margin-right:0% !important;}
.teaser-grid-container article:nth-child(4n){clear:left;}

.teaser-grid-container article .image{position:relative;top:0;left:0;}
.teaser-grid-container article .image a{display:block;position:relative;top:0;left:0;}
.teaser-grid-container article .image a:before{position:absolute;top:0;left:0;right:0;bottom:0;border:0px solid transparent;width:100%;height:100%;content:'';-webkit-transition: border-width 0.2s, border-color 0.2s;transition: border-width 0.2s, border-color 0.2s;box-sizing:border-box;}
.teaser-grid-container article .image:hover a:before{border-width:11px;border-color:#738591;}
.teaser-grid-container article .image img{display:block;width:100%;height:auto;border-bottom:8px solid #738591;vertical-align:middle;}

.teaser-grid-container article.project-dah .image:hover a:before,
.teaser-grid-container article.project-dah .image img{border-color:#a5966a;}
.teaser-grid-container article.project-dm .image:hover a:before,
.teaser-grid-container article.project-dm .image img{border-color:#e62455;}
.teaser-grid-container article.project-fas .image:hover a:before,
.teaser-grid-container article.project-fas .image img{border-color:#5140b5;}
.teaser-grid-container article.project-huf .image:hover a:before,
.teaser-grid-container article.project-huf .image img{border-color:#51dcad;}
.teaser-grid-container article.project-smng .image:hover a:before,
.teaser-grid-container article.project-smng .image img{border-color:#6cf;}
.teaser-grid-container article.project-spk-smb .image:hover a:before,
.teaser-grid-container article.project-spk-smb .image img{border-color:#014366;}

.teaser-grid-container article time{display:block;margin:20px 0 20px 0;color:#666666;font-size:14px;}

.teaser-grid-container h3.article-title{font-size:26px;line-height:1.3 !important;margin-bottom:20px;margin-top:20px;text-transform:uppercase;overflow-wrap:break-word;}
.teaser-grid-container h3.article-title a,
.teaser-grid-container h3.article-title a:hover{color:#000000 !important;text-decoration:none !important;}

.teaser-grid-container h4.project{color:#000000;font-family:'Lato', sans-serif;font-size:19px;font-weight:400;line-height:26px;text-align:left;text-transform:none;margin-top:33px;margin-bottom:16px;}

.teaser-grid-container span.excerpt{font-size:19px;}


@media only screen and (max-width:990px) and (min-width:768px){
.teaser-grid-container article,
.teaser-grid-container article:nth-child(3n),
.teaser-grid-container article:nth-child(4n){width:48.300000000000004%;float:left !important;clear:none;margin-left:0%;margin-right:3.4% !important;}
.teaser-grid-container article:nth-child(2n){margin-right:0 !important;clear:none !important;}
.teaser-grid-container article:nth-child(3n),
.teaser-grid-container article:nth-child(5n){clear:left;}
}

@media only screen and (max-width:766px){

.teaser-grid-container article,
.teaser-grid-container article:nth-child(3n){float:none;clear:left;width:100%;margin:0 0 0 0;}

}
