.news-grid-container{}
.news-grid-container.has-background{background:#F5F5F5;margin-bottom:55px !important;margin-top:55px !important;}


.news-grid-container div.center.blog{padding-bottom:70px;padding-top:70px;}
.news-grid-container .gridheadline{margin-bottom:55px;}
.news-grid-container .gridheadline h2{font-size:30px !important;line-height:40px;margin:-5px 0 15px 0 !important;text-align:center !important;}

.news-grid-container .blog-list{display:block;}
.news-grid-container .blog-list:after{content:'';display:table;clear:both;}

.news-grid-container article{display:block;text-align:inherit;margin-bottom:35px !important;}

.news-grid-container article .image{position:relative;top:0;left:0;}
.news-grid-container article .image a{display:block;position:relative;top:0;left:0;}
.news-grid-container article .image a:before{position:absolute;top:0;left:0;right:0;bottom:0;border:0px solid transparent;width:100%;height:100%;content:'';-webkit-transition: border-width 0.2s, border-color 0.2s;transition: border-width 0.2s, border-color 0.2s;box-sizing:border-box;}
.news-grid-container article .image:hover a:before{border-width:11px;border-color:#738591;}
.news-grid-container article .image img{display:block;width:100%;height:auto;vertical-align:middle;}

.news-grid-container article.project-dah .image:hover a:before,
.news-grid-container article.project-dah .image img{border-color:#a5966a;}
.news-grid-container article.project-dm .image:hover a:before,
.news-grid-container article.project-dm .image img{border-color:#e62455;}
.news-grid-container article.project-fas .image:hover a:before,
.news-grid-container article.project-fas .image img{border-color:#5140b5;}
.news-grid-container article.project-huf .image:hover a:before,
.news-grid-container article.project-huf .image img{border-color:#51dcad;}
.news-grid-container article.project-smng .image:hover a:before,
.news-grid-container article.project-smng .image img{border-color:#6cf;}
.news-grid-container article.project-spk-smb .image:hover a:before,
.news-grid-container article.project-spk-smb .image img{border-color:#014366;}

.news-grid-container article time{display:block;margin:20px 0 20px 0;color:#666666;font-size:14px;}

.news-grid-container h3.article-title{font-size:26px;line-height:1.3 !important;margin-bottom:20px;margin-top:20px;text-transform:uppercase;overflow-wrap:break-word;}
.news-grid-container h3.article-title a,
.news-grid-container h3.article-title a:hover{color:#000000 !important;text-decoration:none !important;}

.news-grid-container span.excerpt{font-size:19px;}

.news-grid-container .call-to-action-container{text-align:center !important;}

@media only screen and (min-width:991px){
.news-grid-container article{float:left;clear:none;width:31.066666666666663%;margin-left:0%;margin-right:3.4%;}
.news-grid-container article:nth-child(3n){float:right;margin-right:0% !important;}
.news-grid-container article:nth-child(3n+1){clear:both;}
}

@media only screen and (max-width:990px) and (min-width:768px){
.news-grid-container article{width:48.300000000000004%;float:left !important;clear:none;margin-left:0%;margin-right:3.4% !important;}
.news-grid-container article:nth-child(2n){margin-right:0% !important;}
.news-grid-container article:nth-child(2n+1){clear:left;}
}

@media only screen and (max-width:766px){
.news-grid-container article,
.news-grid-container article:nth-child(3n){float:none;clear:left;width:100%;margin:0 0 0 0;}
}

/** by mf **/
.news-grid-container .masonry .gutter-sizer{width:40px;}

@media only screen and (min-width:1220px){
	.news-grid-container .masonry article{width:360px;}
}
@media only screen and (min-width:941px) and (max-width:1219px){
	.news-grid-container .masonry article{width:calc( (100% - 60px) / 3 );}
	.news-grid-container .masonry .gutter-sizer{width:30px;}
}
@media only screen and (min-width:768px) and (max-width:940px){
	.news-grid-container .masonry article{width:calc( (100% - 30px) / 2 );}
	.news-grid-container .masonry .gutter-sizer{width:30px;}
}
@media only screen and (max-width:767px){
	.news-grid-container .masonry article{width:100%;}
}
