/* Block: Two Images */

.two-images-container{margin-bottom:55px !important;margin-top:55px !important;}
.two-images-container .grid-images{display:block;}
.two-images-container .grid-images img {width:100%;}
.two-images-container .grid-images figure{display:block;float:left;clear:none;text-align:inherit;width:49.25%;margin-left:0%;margin-right:1.5%;}
.two-images-container .grid-images figcaption{margin:0 auto;font-size:14px;line-height:22px;padding:0;box-sizing:border-box;color:rgba(0,0,0,.5);font-family:'Lato', sans-serif;font-weight:300;text-align:left;padding:5px 0 0 0;}
.two-images-container .grid-image-left{}
.two-images-container .grid-image-right{margin-right:0 !important;}

@media only screen and (max-width: 767px) {
.two-images-container .grid-images figure{margin-bottom:20px;display:block;clear:both;float:none;width:100%;margin-left:auto;margin-right:auto;}
}
